---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Innovative and results-driven Computer Science professional with a strong foundation in deep learning neural networks and a proven track record in data science. Skilled in leveraging advanced analytical techniques to drive business improvements and efficiencies. Demonstrated success in developing and deploying machine learning models in high-volume environments, as evidenced by significant contributions at Swiggy. Currently pursuing an M.Sc in Computer Science at Université de Montréal, specializing in Deep Learning Neural Nets, and holding a B.Tech in Computer Science and Engineering with a specialization in Artificial Intelligence and Machine Learning. Passionate about applying technical expertise to solve complex problems and deliver valuable insights.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Université de Montréal"
      subtitle="MSc in Computer Science from 2023"
    >
      <ul class="list-disc mx-6">
        <li>Teaching Assistant for STT 1903 - Statistics</li>
        <li>IFT 6135 - Representational Learning</li>
        <li>IFT 6269 - Probabilistic Graphical Models</li>
      </ul>
  </TimeLineElement>
    <TimeLineElement
      title="Indian Institute of Information Technology, Sri City"
      subtitle="B.Tech in Computer Science and Engineering from 2017 to 2021"
    >
      <ul class="list-disc mx-6">
        <li>GPA: 8.65/10</li>
        <li>Specialization in Artificial Intelligence and Machine Learning</li>
        <li>Teaching Assistant for Computer Programming and Advanced Software Engineering</li>
      </ul>
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Scientist II at Swiggy"
      subtitle="From 2021 to 2023 at Bengaluru, India"
    >

    Part of the Market Fulfilment Platform team, I worked on the post order experience and fulfiment of orders across 3 verticals. <br/>
    <span class="font-semibold" style="margin-top:20px;" >InstaMart - Quick Grocery</span>
    <ul class="list-disc mx-6" style="margin-top:-10px;">
      <li>Built and deployed multiple real-time delivery prediction models for Swiggy Instamart throughout its journey, scaling it from <span class="font-semibold">30,000 orders to 500,000+ orders a day</span>. These models are consumer facing and power the assignment and logistics systems at the company.</li>
      <li>These models utilized machine learning techniques and neural nets to analyse and transform millions of rows of data. Enhancements made across releases captured tail events better significantly <span class="font-semibold">reducing delayed orders from 5% to 2% and reducing early deliveries from 40% to 17%</span> driving value and setting the right delivery expectations to customers.</li>
      <li>I owned and took responsibilty for the compliance of Instamart Orders while managing and monitoring these models.</li>
    </ul>
    <span class="font-semibold" >Genie - PickUp and DropOff</span>
    <ul class="list-disc mx-6">
      <li>I served as a mentor to a junior Data Scientist, helping her to create the first consumer-facing model for Genie, our pickup-and-drop service at Swiggy. This model was Ensemble-based and included components predicting different stages of the journey. Doing so, we reduced delays from <span class="font-semibold"></span>18% to 6% as well as being more accurate (+3pp)</span> in the process.</li>
          <li>The model was designed to be built upon for use in other areas like assignment and logistics as well as providing the tracking and estimated time of arrival of delivery executives.</li>
    </ul>

    <span class="font-semibold" >Food Delivery:</span> Conducted key analyses on anecdotes raised across the org. These provided actionable insights on corrections and the path forward. <br/>
    <span class="font-semibold" >Achievements</span> For key contributions to the business, I was awarded the Certificate of Excellence on September 2022 during Instamart’s 2nd anniversary event. I was promoted to a Data Scientist 2 on October of the same year.


  </TimeLineElement>
  <br/>
    <TimeLineElement
      title="Research Scientist Intern at Swiggy"
      subtitle="From January to June, 2021 at Bengaluru, India"
      style="margin-top:20px;"
    >
    <ul class="list-disc mx-6">
      <li> Designed and built a <span class="font-semibold">BERT-based category classifier</span> from the free text description of items provided by customers. Classifying these customer transactions into multiple categories helped us understand the market needs for different customer segments.</li>
          <li>Submitted a study on Active Learning for multi-class text classification to understand its potential use throughout the organisation in <span class="font-semibold">reducing annotation costs by 85%</span>.</li>
    </ul>
      </TimeLineElement>
      <br/>
    <TimeLineElement
      title="BI Analyst Intern at Solar for Schools"
      subtitle="From June to August, 2020 at Bury St Edmunds, United Kingdom"
    >
    <ul class="list-disc mx-6">
      <li>
        SFS provides services that enable schools to go Solar by not only providing a plant to them, but also providing sustainable energy education to students. 
      </li>
      <li>Gathered, organised and structured core-generation and financial data of over <span>150 plants</span> around Europe and Asia </li>
          <li>Submitted a study on Active Learning for multi-class text classification to understand its potential use throughout the organisation in <span class="font-semibold">reducing annotation costs by 85%</span>.</li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>
  <a href="https://arxiv.org/abs/2106.01883" target="_blank">
  <div class="time-line-container mb-10">
    
      <TimeLineElement
        title="Multi-class Text Classification using BERT-based Active Learning"
        subtitle="DaSH@KDD 2021"
      />
    
  </div>  
</a>
  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div> -->
<!-- 
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Extra-Curriculars</div>
  </div>

  <div class="time-line-container mb-10">
    
      <TimeLineElement
        title="ABM Research Group @ IIITS"
        subtitle="Member from 2019 to 2021"
      />

      <TimeLineElement
        title="Abhisarga, IIITS’ Annual Techno-Cultural Fest"
        subtitle="Sponsorship Team Lead (2019-2020)"
      />
  </div>  

</BaseLayout>
